@model Shop.Data.Models.Car

            <div class="col-lg-4">
                <img src="@Model.img" width="300" height="250" alt="@Model.name" />
                <h2>Модель:@Model.name</h2>
                <p> Ціна:@Model.price.ToString()$</p>
                <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.id"> Додати до кошику</a></p>
            </div>
