@model CarsListViewModel
<h3>@Model.currCategory</h3>
<div class="row mt-1 mb-1">
    @{
        foreach (Car car in Model.AllCars)
        {
            @Html.Partial("AllCars", car);
        }
     }
</div>